<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <a href="../index.html">        
          <img class="logo" src="../images/logo/Golden_Hands.png" alt="Golden Hands Logo"/>
        </a>
      </div>
      <div class="company-name">
        <h1>Golden Hands</h1>
      </div>
      <nav class="navegacion">
        <ul class="navegacion">
          <li class="navegacion"><a href="Services.html">Services</a></li>
          <li class="navegacion"><a href="Products.html">Products</a></li>
          <li class="navegacion"><a href="Contact.html">Contact</a></li>
          <li class="navegacion"><a href="AboutUs.html">AboutUs</a></li>
        </ul>
      </nav>
      <div class="button-container">
        <a href="login.html" class="login-button">Login</a>
        <button id="cart-button" onclick="addToCart()">Add to Cart</button>
      </div>
    </header>
    <main class="todo">
      <h1>Contacto</h1>
      <section class="datos">
        <p>contacto@goldenhands.com</p>
        <p class="subrayar">+34 91 813 29 28 / +34 91 813 50 50</p>
        <p>Calle Fernando Poo 5 28045 Madrid</p>
      </section>
      <section class="central">
      <section class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d24314.33554858614!2d-3.7236111786742847!3d40.38022177247848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d40.362294399999996!2d-3.6927540999999997!4m5!1s0xd422633b66fba33%3A0x5d3d7e4094c7e18f!2sC.%20Fernando%20Poo%2C%205%2C%2028045%20Madrid!3m2!1d40.399709!2d-3.6992813!5e0!3m2!1ses!2ses!4v1699274767278!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </section class="contacto">
      <section class="formulario">
        <form action="https://goldenhands.netlify.app/">
          <input type="text" value="Nombre (obligatorio)"required>
          <input type="email" value="Email (obligatorio)" required>
          <input type="text" value="Asunto"required>
          <textarea cols="10" rows="10">  Mensaje</textarea>
          <input type="submit" value="Enviar" class="enviar">
        </form>
      </section>
      </section>
        <section class="autorizo">
        <span><input type="checkbox"> AUTORIZO el tratamiento de mis datos personales con la finalidad de atender mi contacto</span>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Golden Hands</p>
    </footer>
  </body>
</html>
