<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <header>
      <div class="logo">
        <img
          class="logo"
          src="../images/logo/Golden_Hands.png"
          alt="Golden Hands Logo"
        />
      </div>
      <div class="company-name">
        <h1>Golden Hands</h1>
      </div>

      <nav>
        <ul>
          <li><a href="Services.html">Services</a></li>
          <li><a href="Products.html">Products</a></li>
          <li><a href="Contact.html">Contact</a></li>
          <li><a href="AboutUs.html">AboutUs</a></li>
        </ul>
      </nav>

      <div class="button-container">
        <a href="login.html" class="login-button">Login</a>
        <button id="cart-button" onclick="addToCart()">Add to Cart</button>
      </div>
    </header>
    <section class="com">
      <h1 id="h1">Compañía</h1>
      <div class="compañia">
          <img class="imageneser" src="../images/imagenes_servicios/abuela.jpg" alt="">
          <div class="compañias">
              <p><h3>En manos moradas, nuestra misión es brindar tranquilidad y bienestar a las familias alrededor del mundo.</h3>
              Entendemos lo importante que es para ti el cuidado de tus seres queridos, especialmente cuando se trata
              de tus mayores. Es por eso que nos preocupamos profundamente por garantizar que tus seres queridos estén
              siempre acompañados, con amor y atención dedicados, incluye:</p>
              <ul>
                   <li>Citas medicas</li>
                   <li>Paseo</li>
                   <li>Actividades de ocio</li>
                   
               </ul>
           </div>
      </div>
    </section>
    <section>
      <h1 id="h1">Compra</h1>
      <div class="compra">
          <img class="imageneser" src="../images/imagenes_servicios/compra.jpg" alt="">
          <div class="compras">
              <p><h3>Confía en manos doradas para brindar a tus mayores el apoyo y las provisiones necesarias para un hogar
              feliz y saludable.Nuestra dedicación a la excelencia y la atención personalizada nos distingue.</h3>
              Permítenos ser el vínculo de confianza que necesitas para garantizar que tus seres queridos siempre
              tengan las provisiones adecuadas para vivir de manera plena y segura, incluye:</p>                 
               <ul>
                  <li>Realizar la compra</li>
                  <li>Elaboración de alimentos</li>
                  <li>Asistencia de nutrición</li>
               </ul>
          </div>
      </div>
    </section>   
      
    <section>
        <h1 id="h1">limpieza</h1>
        <div class="limpieza">
          <img  class=imageneser" src="../images/imagenes_servicios/limpieza.jpg" alt="">                        
          <div class="limpiezas">
              <p><h3>En manos doradas, nuestra principal misión es garantizar que tus seres queridos mayores vivan en un
              ambiente limpio y confortable</h3>.Nos dedicamos a brindar un cuidado integral que va más allá de la simple
              limpieza y comodidad en el hogar Nos esforzamos por crear un espacio donde la calidad de vida y el
              bienestar de tus seres queridos sean la máxima prioridad para que disfruten de
              una vida plena y sin preocupaciones en su propio hogar, incluye:</p>
              <ul>
               <li>Limpieza general</li>
               <li>Aseo y higiene personal</li>
               <li>Orden del mobiliario</li>
              </ul>
        </div>
      </div>
    </section>
    
    <footer>
      <p>&copy; 2023 Golden Hands</p>
    </footer>
  </body>
</html>
